<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  {{ title }}!
  </h1>
  </div>
  <div class='class_concesionario'>
  <form class='classform1' >
   <br/>
  <br/>
  <div class='txtInline'>Filtrar por:</div><input />
  <br/><br/>
  <table border='1px' width="700px">
  <thead>
  <td align='center'>Foto</td><td>Marca</td><td>Modelo</td><td>Año</td>
  <td>En venta desde</td><td align="right">Precio</td><td align="right">PVP</td><td
      align="center">Acciones</td>
      </thead>
       <tr >
       <td align='center'>
       <img />
       <p ></p>
       </td>
       <td></td>
       <td align="left"></td>
       <td align="center"></td>
       <td align="center"></td>
       <td align="right">
       <p >
       </p>
       </td>
       <td align="right"></td>
       <td align="center">
       <button type='button' >Rebajar</button>
       <button type='button' >Vendido</button>
       </td>
      </tr>
       </table>
      </form>
      </div>
      <router-outlet></router-outlet>